<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties" />

    <settings>
        <setting name="lazyLoadingEnabled" value="true" />
        <setting name="aggressiveLazyLoading" value="true" />
    </settings>

    <typeAliases>
        <typeAlias type="com.yuanjy.logdb.util.DruidDataSourceFactory" alias="DRUID" />
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!-- 配置数据库连接信息 -->
            <dataSource type="DRUID">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
                <property name="maxActive" value="${druid.maxActive}" />
                <property name="filters" value="slf4j" />
                <property name="validationQuery" value="${druid.validationQuery}" />
                <property name="testWhileIdle" value="${druid.testWhileIdle}" />
                <property name="testOnBorrow" value="${druid.testOnBorrow}" />
                <property name="testOnReturn" value="${druid.testOnReturn}" />
                <property name="poolPreparedStatements" value="${druid.poolPreparedStatements}" />
                <property name="maxPoolPreparedStatementPerConnectionSize" value="${druid.maxPoolPreparedStatementPerConnectionSize}" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/Logdb.xml" />
        <mapper resource="mapper/Table.xml" />
    </mappers>
</configuration>